<div class="slider" data-indicators="true">
    <ul class="slides">
      <li>
        <img src="https://i.ytimg.com/vi/E43dHhS_9CI/maxresdefault.jpg"> 
        <div class="caption down-align">
          <h3>Make Your Dreams Come True</h3>
          <h5 class="light grey-text text-lighten-3">START A PROJECT TODAY</h5>
        </div>
      </li>
      <li>
        <img src="https://www.tech-synergy.com/img/slider/1-1-0.jpg"> 
        <div class="caption left-align">
          <h3>Millions Of Funded Projects</h3>
          <h5 class="light grey-text text-lighten-3">AND YOURS COULD BE NEXT</h5>
        </div>
      </li>
      <li>
        <img src="http://davidbalyeat.com/wp-content/uploads/chicago-skyline-sunset-night-reflections-hd-photography.jpg"> 
        <div class="caption right-align">
          <h3>Browse Projects From All Around The world</h3>
          <h5 class="light grey-text text-lighten-3">TAKE A TOUR THROUGH THE CATEGORIES</h5>
        </div>
      </li>
      <li>
        <img src="http://cianellistudios.com/blog/wp-content/uploads/2011/07/abstract-art-just-being.jpg"> 
        <div class="caption center-align">
          <h3>Check Out The top funded Projects!</h3>
          <h5 class="light grey-text text-lighten-3">Create Your Own Project</h5>
        </div>
      </li>
    </ul>
</div>

<div id="projects-list">

  <h2>Newest Projects</h2>
  
  <div class="owl-carousel owl-theme">
    
    <% @projects.each do|project| %>
      <div class="project-card card-panel hoverable" >

        <div class="image-wrapper">
            <%= image_tag project.image_url.to_s, :class => "project-image" %>
            <!-- <div class="project-image">

            </div> -->
        </div>
        
        <div class="project-info">
                    
          <a href="/"><p><%= project.category %></p></a>
            
          <a href="/projects/show/<%= project.id %>"><h5><%= project.title %></h5></a>

          <a href="users/<%= project.user_id %>/show"><p>By: <%= project.user.name %></p></a>
            
          <div class="progress">
              <div class=" red determinate" style="width: 70%"></div>
          </div>

          <p class="truncate"><%= project.blur %></p>
            
          <p><%= project.goal %></p>
              
          <p>0% Funded</p>
            
          <p><%= project.duration %></p>   
          
        </div>
        
      </div>
    <% end %>

  </div>

</div>
